// Colors
// --------------------------------------------------

@btnText: #fff;
@btnTextAlt: #000;

@btnFacebookBackground: #3B5998;
@btnFacebookBackgroundHighlight: #133783;
@btnGooglePlusBackground: #dd4b39;
@btnGooglePlusBackgroundHighlight: #c53727;
@btnGithubBackground: #fafafa;
@btnGithubBackgroundHighlight: #ccc;

// Social buttons
// --------------------------------------------------

.btn-facebook {
  .button-variant(@btnText; @btnFacebookBackgroundHighlight; @btnFacebookBackgroundHighlight);
}

.btn-google-plus {
  .button-variant(@btnText; @btnGooglePlusBackground; @btnGooglePlusBackgroundHighlight);
}

.btn-github {
  .button-variant(@btnTextAlt; @btnGithubBackground; @btnGithubBackgroundHighlight);
}
