<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login</h1>

            <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code>
                / <code>test</code></p>

        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="login(form)" novalidate>

                <div class="form-group">
                    <label>Email</label>

                    <input type="email" name="email" class="form-control" ng-model="user.email" required>
                </div>

                <div class="form-group">
                    <label>Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                </div>

                <div class="form-group has-error">
                    <p class="help-block"
                       ng-show="form.email.$error.required && form.password.$error.required && submitted">
                        Please enter your email and password.
                    </p>

                    <p class="help-block" ng-show="form.email.$error.email && submitted">
                        Please enter a valid email.
                    </p>

                    <p class="help-block">{{ errors.other }}</p>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Login
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/signup">
                        Register
                    </a>
                </div>

                <hr>
                <div>
                    <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                        <i class="fa fa-facebook"></i> Connect with Facebook
                    </a>
                    <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                        <i class="fa fa-google-plus"></i> Connect with Google+
                    </a>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>
