<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <form action="#" role="form" ng-submit="save()">
    <legend ng-show="medication.medicationId">Edytuj {{medication.name}}</legend>
    <legend ng-hide="medication.medicationId">Nowy lek</legend>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="model.name">Medication ID</label>
          <input type="text" class="form-control" id="model.medicationId" ng-model="model.medicationId" placeholder="ID">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="model.name">Nazwa</label>
          <input type="text" class="form-control" id="model.name" ng-model="model.name" placeholder="Nazwa">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="model.name">Data zakupu</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{dateOptions.format}}" ng-model="model.buyDate" is-open="buyOpened" max-date="buyMaxDate"  datepicker-options="dateOptions" ng-required="true" close-text="{{dateOptions.closeText}}" clear-text="{{dateOptions.clearText}}" current-text="{{dateOptions.currentText}}" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'buy')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="model.name">Termin Ważności</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{dateOptions.format}}" ng-model="model.expirationDate" is-open="expirationOpened" min-date="expirationMinDate"  datepicker-options="dateOptions" ng-required="true" close-text="{{dateOptions.closeText}}" clear-text="{{dateOptions.clearText}}" current-text="{{dateOptions.currentText}}" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'expiration')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Zakres działania</label>
          <div class="btn-group input-group btn-group-justified">
            <span class="btn btn-warning btn-icon" ng-model="advancedSearch.useScope.antibiotics" btn-checkbox>Antybiotyk</span>
            <span class="btn btn-danger btn-icon" ng-model="advancedSearch.useScope.catarrh" btn-checkbox>Katar</span>
            <span class="btn btn-primary btn-icon" ng-model="advancedSearch.useScope.cough" btn-checkbox>Kaszel</span>
            <span class="btn btn-info btn-icon" ng-model="advancedSearch.useScope.fever" btn-checkbox>Gorączka</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Grupa docelowa</label>
          <div class="btn-group input-group btn-group-justified">
            <label class="btn btn-icon btn-primary" ng-model="model.userType" btn-radio="1">Mężczyzna / Dorosły</label>
            <label class="btn btn-icon btn-purple" ng-model="model.userType" btn-radio="2">Kobieta / Dorosły</label>
            <label class="btn btn-icon btn-pink" ng-model="model.userType" btn-radio="3">Dziecko</label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-icon form-control" ng-model="model.archive" btn-checkbox>
            Archiwizowany
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <textarea class="form-control" name="" id="model.description" ng-model="model.description" rows="5"></textarea>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <button type="submit" class="btn btn-success btn-block">Zapisz</button>
      </div>
    </div>



  </form>
  <br/>
  <pre>
    <strong>Medication debug:</strong>
    {{model | json}}
  </pre>
</div>
