<div class="progress">
  <div class="progress-bar progress-bar-{{usability.class}}" role="progressbar" aria-valuenow="{{usability.percentage}}" aria-valuemin="0"
       aria-valuemax="100" style="width: {{usability.percentage}}%;min-width: 2em;">
    <span class="">{{usability.text}}</span>
  </div>
</div>
