/**
 * App-wide Styles
 */


.label-inline{
  display: inline-block;
  vertical-align: text-top;
}

.margin-bottom{
  margin-bottom: 1em;
}

@brand-pink: #d54c7e;
@brand-purple:#9889c1;
@brand-yellow:#fee188;

@btn-pink-color:               #fff;
@btn-pink-bg:                  @brand-pink;
@btn-pink-border:              darken(@btn-pink-bg, 5%);

@btn-purple-color:               #fff;
@btn-purple-bg:                  @brand-purple;
@btn-purple-border:              darken(@btn-purple-bg, 5%);

@btn-yellow-color:               #fff;
@btn-yellow-bg:                  @brand-yellow;
@btn-yellow-border:              darken(@btn-yellow-bg, 5%);

.btn-pink {
  .button-variant(@btn-pink-color; @btn-pink-bg; @btn-pink-border);
}

.btn-purple {
  .button-variant(@btn-purple-color; @btn-purple-bg; @btn-purple-border);
}

.btn-yellow {
  .button-variant(@btn-yellow-color; @btn-yellow-bg; @btn-yellow-border);
}

.btn-icon{
  &:focus{
    outline: none!important;
  }
  padding: 6px 10px;
  &:before{
    font-family: FontAwesome;
    content: "\f10c";
    padding-right: 5px;
  }
  &.active:before{
    content: "\f192";
  }
}

.text-pink{
  color: @brand-pink;
}
.text-purple{
  color: @brand-purple;
}
.text-yellow{
  color: @brand-yellow;
}

