<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="fa fa-medkit text-danger"></i> aidkit</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search"  ng-hide="isLoggedIn()" ng-submit="searchForm.searchMedications()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchForm.query"  placeholder="Szukaj" ng-hide="searchActive()">
                </div>
                <button type="submit" class="btn btn-info" ng-hide="searchActive()"><i class="fa fa-search"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Rejestracja</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Logowanie</a></li>
                <li ng-show="isLoggedIn()"><p class="navbar-text"><i class="fa fa-user"></i> {{ getCurrentUser().name }}</p></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span
                        class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-power-off"></i> Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div ncy-breadcrumb></div>
    </div>
  </div>
</div>
