<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 medication-details">
      <div class="row">
        <div class="col-xs-12">
          <div class="details-title">
            <h3>{{medication.name}} <span user-type type="{{medication.userType}}"></span> <span class="text-danger" ng-if="medication.archive" title="Archiwalny"><i class="fa fa-archive"></i></span></h3>
            <span title="Data Zakupu" class="label label-primary"><i class="fa fa-calendar"></i> {{medication.buyDate | date:'yyyy-MM-dd'}}</span>
            <span title="Data Ważności" class="label label-warning"><i class="fa fa-ban text-danger"></i> {{medication.expirationDate | date:'yyyy-MM-dd'}}</span>
            <div class="usability pull-right" usability end-date="{{medication.expirationDate}}" start-date="{{medication.buyDate}}"></div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="description">
            {{medication.description}}
          </div>
        </div>
        <div class="col-xs-6">
          <div class="packaging">
            <dl class="dl-horizontal">
              <dt>Typ</dt>
              <dd>Syrop</dd>
              <dt>Ilość</dt>
              <dd>250 ml</dd>
              <dt>Dawkowanie</dt>
              <dd><span>3 x 2,5ml</span> <span class="label label-inline label-danger"><i class="fa fa-warning"></i> do 17 !</span></dd>
            </dl>
          </div>
        </div>
        <div class="col-xs-6 col-sm-12">
          <div class="similar">
            <h5>Zamienniki:</h5>
            <ul class="list-inline list-unstyled text-info">
              <li ng-repeat='similar in similar | inArray:medication.similar:"medicationId"'>
                <a ui-sref="main.detail({medicationId: similar._id})" class="btn btn-info btn-xs">{{similar.name}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row details-controls ">
        <div class="col-xs-12 col-sm-6">
          <div class="btn-group">
            <a ui-sref=".edit" class="btn btn-warning"><i class="fa fa-edit"></i> Edytuj</a>
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle>
                <i class="fa fa-plus"></i> Dodaj do:  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <a class="btn btn-info" ng-click="sendToArchive()" ng-if="!medication.archive"><i class="fa fa-archive"></i> Archiwizuj</a>
            <a class="btn btn-info" ng-click="restoreFromArchive()" ng-if="medication.archive"><i class="fa fa-external-link"></i> Przywróć</a>
            <a class="btn btn-danger"><i class="fa fa-trash"></i> Usuń</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="tags">
            <span class="label label-primary" ng-if="medication.cough">Kaszel</span>
            <span class="label label-danger" ng-if="medication.catarrh">Katar</span>
            <span class="label label-info" ng-if="medication.fever">Gorączka</span>
            <span class="label label-warning" ng-if="medication.antibiotic">Antybiotyk</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

