.medication-details{
  .details-title{
    h3,span{
      display: inline-block;
    }
    h3{
      margin: 0;
      vertical-align: middle;
      padding-right: 20px;
    }
    .usability{
      width: 25%;
      @media(max-width: @screen-xs-max){
        margin-top:10px;
        width: 100%;
      }
    }
  }
  .description,.packaging{
    margin-top: 20px;
  }
  .details-controls{
    .tags{
      text-align: right;
      @media(max-width: @screen-xs-max){
        text-align: left;
        margin-top: 10px;
      }
    }
  }
}

