<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row searchForm">
      <div class="col-xs-12">
        <form class="comment-form" name="medicationForm">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="query" placeholder="Szukaj leku (min. 3 znaki)" ng-change="searchMedication()" />
                <span class="input-group-btn">
                    <a class="btn btn-info" type="button" ng-click="advancedSearchMedication()"> zaawansowane</a>
                </span>
            </div>
        </form>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12 margin-bottom">
      <div class="btn-group">
        <a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-group medications-list" medications-list list="medications">
        </ul>
    </div>
  </div>
</div>
