<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>

    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}
          <button type="button" class="close" ng-click="deleteThing(thing.name,thing)">&times;</button>
        </a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>

    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
<!--'use strict';-->

<!--angular.module('aidkitApp')-->
<!--.controller('MainCtrl', function ($scope, $http, socket, Modal) {-->
<!--$scope.awesomeThings = [];-->

<!--$http.get('/api/things').success(function (awesomeThings) {-->
<!--$scope.awesomeThings = awesomeThings;-->
<!--socket.syncUpdates('thing', $scope.awesomeThings);-->
<!--});-->

<!--$scope.addThing = function () {-->
<!--if ($scope.newThing === '') {-->
<!--return;-->
<!--}-->
<!--$http.post('/api/things', { name: $scope.newThing });-->
<!--$scope.newThing = '';-->

<!--};-->

<!--$scope.deleteThing = Modal.confirm.delete(function(thing) { // callback when modal is confirmed-->
<!--$http.delete('/api/things/' + thing._id);-->
<!--});-->

<!--$scope.$on('$destroy', function () {-->
<!--socket.unsyncUpdates('thing');-->
<!--});-->
<!--});-->
