<li class="list-group-item medication" ng-repeat="medication in medications track by $index">

    <div class="row" ng-if="!advanced">
        <div class="col-xs-12 col-sm-2 text-center">
            <a class="" ui-sref="main.detail({medicationId: medication._id})"><strong>{{ medication.name }}</strong></a>
        </div>
        <div class="col-xs-12 col-sm-7 text-center">
            <div class="usability" usability end-date="{{medication.expirationDate}}" start-date="{{medication.buyDate}}"></div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="medication-details">
                <span title="Data Ważności" class="label label-warning"><i class="fa fa-ban text-danger"></i> {{medication.expirationDate | date:'yyyy-MM-dd'}}</span>
                <span title="Data Zakupu" class="label label-primary"><i class="fa fa-calendar"></i> {{medication.buyDate | date:'yyyy-MM-dd'}}</span>
            </div>
        </div>
    </div>

    <div class="row" ng-if="advanced">
        <div class="col-xs-12 col-sm-2 text-center">
            ADV
            <a class="" ui-sref="main.detail({medicationId: medication._id})"><strong>{{ medication.name }}</strong></a>
        </div>
        <div class="col-xs-12 col-sm-7 text-center">
            <div class="usability" usability end-date="{{medication.expirationDate}}" start-date="{{medication.buyDate}}"></div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="medication-details">
                <span title="Data Ważności" class="label label-warning"><i class="fa fa-ban text-danger"></i> {{medication.expirationDate | date:'yyyy-MM-dd'}}</span>
                <span title="Data Zakupu" class="label label-primary"><i class="fa fa-calendar"></i> {{medication.buyDate | date:'yyyy-MM-dd'}}</span>
            </div>
        </div>
    </div>
</li>
