<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6" ng-repeat="schedule in schedules">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>{{schedule.name}}</b>
          <span class="pull-right">
            <span class="label label-primary">{{schedule.person}}</span>
          </span>
        </div>
        <div class="panel-body">
          {{schedule.description}}
          <br/><br/>
          <span class="label label-primary">{{schedule.startDate}}</span>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Leki:
            </li>
          	<li class="list-group-item">
          		<span class="badge">5</span>
          		Item 1
          	</li>
          	<li class="list-group-item">
          		<span class="badge">1</span>
          		Item 2
          	</li>
          	<li class="list-group-item">
          		<span class="badge">25</span>
          		Item 3
          	</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

