<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row searchForm">
        <div class="col-xs-12">
            <pre><strong>DEBUG:</strong> {{advancedSearch}}</pre>

        </div>
        <form class="comment-form" name="medicationForm" ng-model="advancedSearch" >
            <div class="col-xs-12 margin-bottom">
                <input class="form-control" type="text" ng-model="advancedSearch.query" placeholder="Szukaj leku (min. 3 znaki)" ng-change="searchMedication()" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h4>Zakres działania: </h4>

                <div class="btn-group">
                    <label class="btn btn-warning btn-icon" ng-model="advancedSearch.searchFields.antibiotic" btn-checkbox ng-change="searchMedication()" >Antybiotyk</label>
                    <label class="btn btn-danger btn-icon" ng-model="advancedSearch.searchFields.catarrh" btn-checkbox ng-change="searchMedication()" >Katar</label>
                    <label class="btn btn-primary btn-icon" ng-model="advancedSearch.searchFields.cough" btn-checkbox ng-change="searchMedication()" >Kaszel</label>
                    <label class="btn btn-info btn-icon" ng-model="advancedSearch.searchFields.fever" btn-checkbox ng-change="searchMedication()" >Gorączka</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4>Grupa docelowa: </h4>

                <div class="btn-group">
                    <label class="btn btn-pink btn-icon" ng-model="advancedSearch.searchFields.kids" btn-checkbox ng-change="searchMedication()">Dzieci</label>
                    <label class="btn btn-purple btn-icon" ng-model="advancedSearch.searchFields.adults" btn-checkbox ng-change="searchMedication()">Dorośli</label>
                </div>
            </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Inne: </h4>

            <div class="btn-group">
              <label class="btn btn-pink btn-icon" ng-model="advancedSearch.searchFields.archive" btn-checkbox ng-change="searchMedication()">Archiwum</label>
            </div>
          </div>
        </form>
    </div>
    <div class="row">
    	<div class="col-xs-12">
            <h3>Wyniki: </h3>
    	</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="list-group medications-list" medications-list advanced="true" list="{{medications}}">
            </ul>
        </div>
    </div>
</div>
